:root {
  --red: #b20003;
  --white: #fff;
  --black: #212121;
  --grey: #949494;
  --light-gray: #f5f5f5;
}

:root {
  color-scheme: light only;
}

body {
  font-size: 18px;
  line-height: 144%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black);
}

a {
  transition: 0.4s ease;
  text-decoration: none;
  color: var(--black);
}
a:visited {
  color: var(--black);
}
a:hover {
  color: var(--red);
}
a:active {
  color: var(--red);
}

h1,
h2,
h3,
.main-title,
.section-title {
  margin: 0 0 24px;
  font-weight: 700;
}

h1,
.main-title {
  font-size: 58px;
  line-height: 117%;
  font-weight: 500;
}

h2,
.section-title {
  font-size: 48px;
  line-height: 116%;
  font-weight: 500;
}

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  border: 1px solid var(--red);
  min-width: 196px;
  padding: 14px 23px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: var(--red);
}
button:hover,
.button:hover {
  background-color: var(--red);
  color: var(--white);
}

input {
  font-size: 16px;
  line-height: 150%;
  border: 1px solid var(--grey);
  width: 100%;
  padding: 13px 23px;
  color: var(--black);
}
input:focus {
  border-color: var(--black);
  color: var(--black);
}
input:focus-visible {
  outline: none;
}
input:invalid {
  border-color: #ff4949;
  color: #ff4949;
}
input::placeholder {
  color: var(--grey);
}

p {
  margin-bottom: 8px;
}

@media (max-width: 1399px) {
  h1,
  .main-title {
    font-size: 48px;
    line-height: 116%;
  }
  h2,
  .section-title {
    font-size: 36px;
    line-height: 117%;
  }
}
@media (max-width: 1199px) {
  h1,
  .main-title {
    font-size: 38px;
    line-height: 121%;
  }
  h2,
  .section-title {
    font-size: 28px;
    line-height: 150%;
  }
}
@media (max-width: 991px) {
  h1,
  .main-title {
    font-size: 28px;
    line-height: 150%;
  }
  h2,
  .section-title {
    font-size: 20px;
    line-height: 130%;
  }
}
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  .main-title,
  .section-title {
    margin: 0 0 16px;
  }
}
@media (max-width: 575px) {
  body {
    font-size: 14px;
    line-height: 129%;
  }
  h1,
  h2,
  h3,
  .main-title,
  .section-title {
    margin: 0 0 8px;
  }
  h1,
  .main-title {
    font-size: 26px;
    line-height: 123%;
  }
  button,
  .button {
    min-width: 100%;
  }
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pt-96 {
  padding-top: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

.text-red {
  color: var(--red);
}

@media (max-width: 767px) {
  .ptb-96 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-96 {
    padding-top: 48px;
  }
  .pb-96 {
    padding-bottom: 48px;
  }
}
.site-header {
  position: sticky;
  z-index: 9999;
  top: 0;
  padding: 16px 0;
  background-color: var(--white);
}
.site-header__logo-img {
  max-width: 100%;
}
.site-header__nav {
  display: flex;
  justify-content: center;
}
.site-header__nav-list {
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header__nav-item--has-children {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.site-header__nav-item--has-children::after {
  content: "";
  transition: 0.4s ease;
  width: 20px;
  height: 20px;
  background: url("../img/global/chevron-down-20-black.svg");
}
.site-header__nav-item--has-children:hover::after {
  transform: rotate(180deg);
}
.site-header__nav-item--has-children:hover .site-header__nav-sublist {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
}
.site-header__nav-link {
  font-weight: 700;
  white-space: nowrap;
}
.site-header__nav-sublist {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  margin: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  max-height: 0;
  padding: 24px;
  background-color: var(--white);
  list-style: none;
}
.site-header__nav-sublist .site-header__nav-link {
  font-weight: 400;
}
.site-header__phone {
  font-size: 20px;
  line-height: 130%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  font-weight: 500;
}
.site-header__phone::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/phone-24-red.svg");
}
.site-header__mobile-menu-btn {
  margin-left: auto;
  border: 0;
  min-width: 0;
  width: 24px;
  height: 24px;
  padding: 0;
}
.site-header__mobile-menu-btn svg:last-child {
  display: none;
}
.site-header__mobile-menu-btn path {
  transition: 0.4s ease;
}
.site-header__mobile-menu-btn:hover {
  background-color: transparent;
}
.site-header__mobile-menu-btn:hover path {
  fill: var(--red);
}
.site-header__mobile-menu-btn.active svg:first-child {
  display: none;
}
.site-header__mobile-menu-btn.active svg:last-child {
  display: block;
}

@media (max-width: 1199px) {
  .site-header__nav-list {
    gap: 24px;
  }
}
@media (max-width: 575px) {
  .site-header__phone {
    font-size: 0;
  }
}
.site-main {
  position: relative;
  flex: 1;
}

.site-footer__top {
  border-top: 1px solid var(--light-gray);
  padding: 48px 0;
}
.site-footer__logo-img {
  max-width: 100%;
}
.site-footer__title {
  margin-bottom: 8px;
  font-weight: 600;
}
.site-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__menu-link--main {
  font-weight: 600;
}
.site-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px 0 24px;
}
.site-footer__phone {
  font-size: 16px;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.site-footer__phone::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/phone-24-red.svg");
}
.site-footer__email {
  font-size: 16px;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.site-footer__email::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/email-24-red.svg");
}
.site-footer__messengers {
  display: flex;
  gap: 24px;
}
.site-footer__messenger path {
  transition: 0.6s ease;
}
.site-footer__messenger:hover path:first-child {
  fill: var(--black);
}
.site-footer__bottom {
  padding: 24px 0;
  background-color: var(--light-gray);
}
.site-footer__copyright {
  font-size: 16px;
  line-height: 150%;
}
.site-footer__policy {
  font-size: 16px;
  line-height: 150%;
  margin-left: auto;
}

@media (max-width: 575px) {
  .site-footer__contacts {
    gap: 16px;
  }
  .site-footer__copyright {
    margin: 0 auto 16px;
  }
  .site-footer__policy {
    margin: 0 auto;
  }
}
.slick-slider {
  margin: 0 -12px;
}

.slick-slide {
  padding: 0 12px;
}

.slick-dots {
  display: flex;
  align-items: center;
  order: 2;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  display: flex;
  margin-bottom: 0;
  height: 8px;
}
.slick-dots li.slick-active button {
  background-color: var(--red);
}
.slick-dots button {
  border: 0;
  border-radius: 50%;
  min-width: auto;
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: var(--grey);
  font-size: 0;
}

.slick-arrow {
  border: none;
  min-width: auto;
  padding: 0;
}
.slick-arrow.slick-prev {
  order: 1;
}
.slick-arrow.slick-next {
  order: 3;
}
.slick-arrow:hover {
  background-color: transparent;
}

.announcement {
  padding: 16px 0 20px;
  backdrop-filter: blur(20px);
  background: rgba(245, 245, 245, 0.8);
}
.announcement__text {
  font-weight: 500;
  text-align: center;
  text-wrap: balance;
}

@media (max-width: 1399px) {
  .announcement {
    padding: 16px 0;
  }
  .announcement__text {
    font-size: 16px;
    line-height: 150%;
  }
}
.main-screen {
  position: relative;
  background: linear-gradient(90deg, #e0e0e0 0%, #fff 100%);
}
.main-screen::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 56vw;
  background: url("../img/home-page/main-screen-bg-skyfest.png") left/cover no-repeat;
}
.main-screen__item-text {
  font-size: 22px;
  line-height: 145%;
  margin-bottom: 32px;
}
.main-screen__item-img {
  margin: auto 0 0 auto;
  max-width: 100%;
}
.main-screen__controls {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1399px) {
  .main-screen__item-text {
    font-size: 20px;
    line-height: 130%;
  }
}
@media (max-width: 1199px) {
  .main-screen__item-text {
    font-size: 18px;
    line-height: 144%;
  }
}
@media (max-width: 991px) {
  .main-screen__item-text br {
    display: none;
  }
  .main-screen__controls {
    bottom: 24px;
  }
}
@media (max-width: 767px) {
  .main-screen__item-text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
  }
  .main-screen__item-img {
    margin: auto auto 0;
    max-width: 58vw;
  }
}
@media (max-width: 575px) {
  .main-screen::before {
    content: none;
  }
  .main-screen__item-text {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 16px;
  }
  .main-screen__item-img {
    max-width: 100%;
  }
}
.advantages {
  padding: 24px 0;
  background-color: var(--light-gray);
}
.advantages__item-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.advantages__item-text {
  font-size: 20px;
  line-height: 130%;
  padding-right: 0.9vw;
  font-weight: 500;
  text-wrap: balance;
}

@media (max-width: 1199px) {
  .advantages {
    padding: 24px 0 0;
  }
}
@media (max-width: 991px) {
  .advantages__item-icon {
    width: 48px;
    height: 48px;
  }
  .advantages__item-text {
    font-size: 18px;
    line-height: 144%;
  }
}
@media (max-width: 767px) {
  .advantages__item-text {
    font-size: 16px;
    line-height: 150%;
    padding-right: 2vw;
  }
}
@media (max-width: 575px) {
  .advantages__item-icon {
    width: 36px;
    height: 36px;
  }
}
.services-block__title {
  margin-bottom: 32px;
}
.services-block__item {
  position: relative;
  z-index: 1;
}
.services-block__item:nth-child(1) {
  z-index: 4;
}
.services-block__item:nth-child(2) {
  z-index: 3;
}
.services-block__item:nth-child(3) {
  z-index: 2;
}
.services-block__item-wrapper {
  position: relative;
  display: flex;
  height: 232px;
}
.services-block__item-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 16px;
  transition: max-height 1s ease;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 232px;
  background-color: var(--white);
}
.services-block__item-inner:hover {
  max-height: 2000px;
}
.services-block__item-inner:hover .services-block__item-list {
  overflow: visible;
  max-height: 10000px;
}
.services-block__item-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.services-block__item-title {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--black);
}
.services-block__item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow: hidden;
  transition: max-height 0.9s ease;
  max-height: 88px;
  padding: 0;
  list-style: none;
}
.services-block__item-subitem {
  font-size: 16px;
  line-height: 150%;
  position: relative;
  padding-left: 12px;
  color: var(--grey);
}
.services-block__item-subitem::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: var(--grey);
}
.services-block__item-subitem:nth-child(1), .services-block__item-subitem:nth-child(3), .services-block__item-subitem:nth-child(6), .services-block__item-subitem:nth-child(9), .services-block__item-subitem:nth-child(11), .services-block__item-subitem:nth-child(14), .services-block__item-subitem:nth-child(17), .services-block__item-subitem:nth-child(19), .services-block__item-subitem:nth-child(22), .services-block__item-subitem:nth-child(25), .services-block__item-subitem:nth-child(27) {
  padding-left: 0;
}
.services-block__item-subitem:nth-child(1)::before, .services-block__item-subitem:nth-child(3)::before, .services-block__item-subitem:nth-child(6)::before, .services-block__item-subitem:nth-child(9)::before, .services-block__item-subitem:nth-child(11)::before, .services-block__item-subitem:nth-child(14)::before, .services-block__item-subitem:nth-child(17)::before, .services-block__item-subitem:nth-child(19)::before, .services-block__item-subitem:nth-child(22)::before, .services-block__item-subitem:nth-child(25)::before, .services-block__item-subitem:nth-child(27)::before {
  content: none;
}
.services-block__item-link {
  font-size: 16px;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
  font-weight: 500;
  color: var(--grey);
}
.services-block__item-link::after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/global/chevron-right-30-grey.svg");
}
.services-block__item-img {
  margin: auto 0 0 auto;
  max-width: 220px;
}

@media (max-width: 1399px) {
  .services-block__item-img {
    max-width: 160px;
  }
}
@media (max-width: 1199px) {
  .services-block__item-inner {
    gap: 8px;
  }
  .services-block__item-subitem:nth-child(1), .services-block__item-subitem:nth-child(3), .services-block__item-subitem:nth-child(6), .services-block__item-subitem:nth-child(9), .services-block__item-subitem:nth-child(11), .services-block__item-subitem:nth-child(14), .services-block__item-subitem:nth-child(17), .services-block__item-subitem:nth-child(19), .services-block__item-subitem:nth-child(22), .services-block__item-subitem:nth-child(25), .services-block__item-subitem:nth-child(27) {
    padding-left: 12px;
  }
  .services-block__item-subitem:nth-child(1)::before, .services-block__item-subitem:nth-child(3)::before, .services-block__item-subitem:nth-child(6)::before, .services-block__item-subitem:nth-child(9)::before, .services-block__item-subitem:nth-child(11)::before, .services-block__item-subitem:nth-child(14)::before, .services-block__item-subitem:nth-child(17)::before, .services-block__item-subitem:nth-child(19)::before, .services-block__item-subitem:nth-child(22)::before, .services-block__item-subitem:nth-child(25)::before, .services-block__item-subitem:nth-child(27)::before {
    content: "";
  }
  .services-block__item-img {
    max-width: 140px;
  }
}
@media (max-width: 991px) {
  .services-block__item-inner {
    gap: 16px;
  }
  .services-block__item-img {
    max-width: 220px;
  }
}
@media (max-width: 767px) {
  .services-block__item-img {
    max-width: 160px;
  }
}
@media (max-width: 575px) {
  .services-block__title {
    margin-bottom: 24px;
  }
  .services-block__item-wrapper {
    height: 190px;
  }
  .services-block__item-inner {
    gap: 0;
    max-height: 190px;
  }
  .services-block__item-content {
    padding: 16px;
  }
  .services-block__item-title {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
  }
  .services-block__item-list {
    gap: 4px;
    margin-bottom: 8px;
  }
  .services-block__item-subitem {
    font-size: 14px;
    line-height: 129%;
    padding-left: 8px;
  }
  .services-block__item-subitem::before {
    width: 3px;
    height: 3px;
  }
  .services-block__item-subitem:nth-child(1), .services-block__item-subitem:nth-child(3), .services-block__item-subitem:nth-child(6), .services-block__item-subitem:nth-child(9), .services-block__item-subitem:nth-child(11), .services-block__item-subitem:nth-child(14), .services-block__item-subitem:nth-child(17), .services-block__item-subitem:nth-child(19), .services-block__item-subitem:nth-child(22), .services-block__item-subitem:nth-child(25), .services-block__item-subitem:nth-child(27) {
    padding-left: 8px;
  }
  .services-block__item-img {
    max-width: 100px;
  }
}
.about__top-text {
  margin-bottom: 4px;
}
.about__bottom-text {
  margin-bottom: 24px;
}
.about__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 24px;
  background-color: var(--light-gray);
}
.about__item-number {
  font-size: 40px;
  line-height: 125%;
  margin-bottom: 2px;
  font-weight: 500;
  text-align: center;
  color: var(--red);
}
.about__item-top-text {
  margin-bottom: 16px;
  text-align: center;
}
.about__item-bottom-text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--grey);
}

@media (max-width: 1399px) {
  .about__item-number {
    font-size: 28px;
    line-height: 150%;
  }
}
@media (max-width: 1199px) {
  .about__item-wrapper {
    padding: 24px 16px;
  }
  .about__item-number {
    font-size: 26px;
    line-height: 123%;
  }
}
@media (max-width: 991px) {
  .about__item-number {
    font-size: 18px;
    line-height: 144%;
  }
}
@media (max-width: 575px) {
  .about__item-wrapper {
    padding: 16px;
  }
  .about__item-top-text {
    margin-bottom: 8px;
  }
  .about__item-bottom-text {
    font-size: 14px;
    line-height: 129%;
  }
}
.portfolio__title {
  margin-bottom: 32px;
}
.portfolio__link {
  font-size: 16px;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 32px auto;
  font-weight: 500;
  color: var(--red);
}
.portfolio__link::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/chevron-right-24-red.svg");
}
.portfolio__link:visited {
  color: var(--red);
}
.portfolio__list {
  display: grid;
  grid-template-areas: "item-1 item-1 item-2 item-3" "item-1 item-1 item-4 item-5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 24px;
}
.portfolio__item:nth-child(1) {
  grid-area: item-1;
}
.portfolio__item:nth-child(1) .portfolio__item-wrapper {
  height: 100%;
}
.portfolio__item:nth-child(1) .portfolio__item-content {
  transform: translateY(calc(100% - 114px));
}
.portfolio__item:nth-child(1) .portfolio__item-link {
  opacity: 1;
  visibility: visible;
  max-height: 100%;
  padding-top: 16px;
}
.portfolio__item:nth-child(2) {
  grid-area: item-2;
}
.portfolio__item:nth-child(3) {
  grid-area: item-3;
}
.portfolio__item:nth-child(4) {
  grid-area: item-4;
}
.portfolio__item:nth-child(5) {
  grid-area: item-5;
}
.portfolio__item-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  height: 237px;
}
.portfolio__item-wrapper:hover .portfolio__item-content {
  justify-content: flex-end;
  transform: translateY(0);
}
.portfolio__item-wrapper:hover .portfolio__item-link {
  opacity: 1;
  visibility: visible;
  max-height: 100%;
  padding-top: 16px;
}
.portfolio__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__item-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(calc(100% - 100px));
  transition: 1s ease;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 33, 33, 0.6);
}
.portfolio__item-title {
  font-weight: 600;
  color: var(--white);
}
.portfolio__item-link {
  font-size: 16px;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  max-height: 0;
  font-weight: 500;
  color: var(--white);
}
.portfolio__item-link::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/chevron-right-24-white.svg") center/contain no-repeat;
}

@media (max-width: 1399px) {
  .portfolio__item:nth-child(1) .portfolio__item-content {
    padding: 24px;
  }
  .portfolio__item-content {
    padding: 24px 16px;
  }
}
@media (max-width: 1199px) {
  .portfolio__item-content {
    transform: translateY(calc(100% - 110px));
    padding: 16px;
  }
}
@media (max-width: 991px) {
  .portfolio__list {
    grid-template-areas: "item-1 item-1" "item-2 item-3" "item-4 item-5";
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__item:nth-child(1) .portfolio__item-wrapper {
    height: 350px;
  }
  .portfolio__item-content {
    transform: translateY(calc(100% - 100px));
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .portfolio__list {
    display: flex;
    flex-direction: column;
  }
  .portfolio__item:nth-child(1) .portfolio__item-wrapper {
    height: 270px;
  }
  .portfolio__item-wrapper {
    height: 270px;
  }
  .portfolio__item-content {
    transform: translateY(calc(100% - 114px));
  }
  .portfolio__item-link {
    opacity: 1;
    visibility: visible;
    max-height: 100%;
    padding-top: 16px;
  }
}
@media (max-width: 575px) {
  .portfolio__title {
    margin-bottom: 24px;
  }
  .portfolio__item:nth-child(1) .portfolio__item-wrapper {
    height: 240px;
  }
  .portfolio__item:nth-child(1) .portfolio__item-content {
    transform: translateY(calc(100% - 96px));
    padding: 16px;
  }
  .portfolio__item:nth-child(1) .portfolio__item-link {
    padding-top: 8px;
  }
  .portfolio__item-wrapper {
    height: 240px;
  }
  .portfolio__item-content {
    transform: translateY(calc(100% - 96px));
    padding: 16px;
  }
  .portfolio__item-link {
    font-size: 12px;
    line-height: 150%;
    padding-top: 8px;
  }
  .portfolio__item-link::after {
    width: 16px;
    height: 16px;
  }
}
.clients {
  background-color: var(--light-gray);
}
.clients__title {
  margin-bottom: 32px;
}
.clients__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  padding: 16px;
  background-color: var(--white);
}
.clients__item-img {
  max-height: 100%;
  object-fit: contain;
}
.clients__arrows {
  display: flex;
  gap: 24px;
  margin: 32px 0 0 auto;
}

@media (max-width: 767px) {
  .clients__title {
    margin-bottom: 24px;
  }
}
.reviews__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  height: 156px;
  padding: 36px;
  background-color: var(--white);
}
.reviews__item-wrapper:hover {
  box-shadow: none;
  background-color: var(--light-gray);
}
.reviews__item-text {
  font-size: 16px;
  line-height: 150%;
  margin-top: auto;
  font-weight: 500;
  color: var(--grey);
}

@media (max-width: 575px) {
  .reviews__item-wrapper {
    height: 120px;
    padding: 24px;
  }
}
.news-block__title {
  margin-bottom: 36px;
}
.news-block__item-wrapper {
  position: relative;
  display: flex;
  height: 362px;
}
.news-block__item-wrapper:hover .news-block__item-content {
  min-height: 144px;
}
.news-block__item-date {
  font-size: 12px;
  line-height: 150%;
  position: absolute;
  z-index: 2;
  top: 13px;
  left: 24px;
  color: var(--white);
}
.news-block__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-block__item-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.6s ease;
  min-height: 362px;
  padding: 24px;
  background-color: rgba(33, 33, 33, 0.6);
}
.news-block__item-inner {
  display: flex;
  flex-direction: column;
  min-height: 96px;
}
.news-block__item-title {
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--white);
}
.news-block__item-link {
  font-size: 16px;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: auto 0 0 auto;
  font-weight: 500;
  color: var(--white);
}
.news-block__item-link::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/chevron-right-24-white.svg") center/contain no-repeat;
}
.news-block__link {
  margin: 8px auto 0;
}

@media (max-width: 1399px) {
  .news-block__item-wrapper:hover .news-block__item-content {
    min-height: 170px;
  }
}
@media (max-width: 575px) {
  .news-block__title {
    margin-bottom: 24px;
  }
  .news-block__item-wrapper {
    height: 240px;
  }
  .news-block__item-wrapper:hover .news-block__item-content {
    min-height: 94px;
  }
  .news-block__item-content {
    min-height: 240px;
    padding: 16px;
  }
  .news-block__item-inner {
    min-height: 62px;
  }
  .news-block__item-title {
    margin-bottom: 8px;
  }
  .news-block__item-link {
    font-size: 12px;
    line-height: 150%;
  }
  .news-block__item-link::after {
    width: 16px;
    height: 16px;
  }
  .news-block__link {
    margin-top: 0;
  }
}
.seo-block p:last-child {
  margin-bottom: 0;
}

.main-form {
  position: relative;
  overflow: hidden;
  background-color: var(--light-gray);
}
.main-form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 38vw;
  background: url("../img/home-page/main-screen-bg-skyfest.png") left/cover no-repeat;
}
.main-form__content {
  position: relative;
  z-index: 2;
}
.main-form__text {
  margin-bottom: 16px;
}
.main-form__btn {
  width: 100%;
  padding: 11px 22px;
}
.main-form__policy {
  font-size: 14px;
  line-height: 129%;
  color: var(--grey);
}
.main-form__policy a {
  color: var(--red);
}
.main-form__policy a:hover {
  color: var(--black);
}
.main-form__img {
  position: absolute;
  right: -120px;
  bottom: 0;
}

.modal.fade {
  background-color: rgba(33, 33, 33, 0.6);
}

.modal-dialog--mobile-menu {
  margin: 0 auto 0 0;
  width: 388px;
  height: 100vh;
}
.modal-dialog > * {
  position: relative;
  pointer-events: auto;
}

.modal-wrapper {
  overflow-y: auto;
  padding: 48px 24px;
  background-color: var(--white);
}
.modal-wrapper--mobile-menu {
  height: 100%;
  padding-top: 120px;
}

.modal-close-btn--menu {
  border: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 500;
}

@media (max-width: 575px) {
  .modal-dialog--mobile-menu {
    width: 100%;
  }
  .modal-wrapper {
    padding: 48px 16px 24px;
  }
  .modal-wrapper--mobile-menu {
    padding-top: 108px;
  }
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}
.mobile-menu__sublist {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.9s ease;
  margin: 0;
  padding: 16px 0 8px 8px;
  list-style: none;
}
.mobile-menu__sublist .mobile-menu__link {
  font-size: 16px;
  line-height: 150%;
}
.mobile-menu__item--has-children svg {
  transform: rotate(180deg);
  transition: 0.4s ease;
  padding-left: 4px;
  cursor: pointer;
}
.mobile-menu__item--has-children svg.active {
  transform: rotate(0);
}
.mobile-menu__item--has-children:has(svg.active) .mobile-menu__sublist {
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.6s ease, padding 0.6s ease, opacity 0.2s ease;
  max-height: 0;
  padding: 0;
}
.mobile-menu__link {
  font-size: 18px;
  line-height: 144%;
}
.mobile-menu__email {
  font-size: 18px;
  line-height: 144%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.mobile-menu__email::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/global/email-24-red.svg");
}
.mobile-menu__messengers {
  display: flex;
  gap: 24px;
}
.mobile-menu__messenger path {
  transition: 0.6s ease;
}
.mobile-menu__messenger:hover path:first-child {
  fill: var(--black);
}
