.site-footer {
  &__top {
    border-top: 1px solid var(--light-gray);
    padding: 48px 0;
  }

  &__logo-img {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-link--main {
    font-weight: 600;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px 0 24px;
  }

  &__phone {
    @include fs-16;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../img/global/phone-24-red.svg");
    }
  }

  &__email {
    @include fs-16;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../img/global/email-24-red.svg");
    }
  }

  &__messengers {
    display: flex;
    gap: 24px;
  }

  &__messenger {
    path {
      transition: .6s ease;
    }

    &:hover {
      path {
        &:first-child {
          fill: var(--black);
        }
      }
    }
  }

  &__bottom {
    padding: 24px 0;
    background-color: var(--light-gray);
  }

  &__copyright {
    @include fs-16;
  }

  &__policy {
    @include fs-16;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .site-footer {
    &__contacts {
      gap: 16px;
    }

    &__copyright {
      margin: 0 auto 16px;
    }

    &__policy {
      margin: 0 auto;
    }
  }
}