.about {
  &__top-text {
    margin-bottom: 4px;
  }

  &__bottom-text {
    margin-bottom: 24px;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 24px;
    background-color: var(--light-gray);
  }

  &__item-number {
    @include fs-40;
    margin-bottom: 2px;
    font-weight: 500;
    text-align: center;
    color: var(--red);
  }

  &__item-top-text {
    margin-bottom: 16px;
    text-align: center;
  }

  &__item-bottom-text {
    @include fs-16;
    text-align: center;
    color: var(--grey);
  }
}

@media (max-width: 1399px) {
  .about {
    &__item-number {
      @include fs-28;
    }
  }
}

@media (max-width: 1199px) {
  .about {
    &__item-wrapper {
      padding: 24px 16px;
    }

    &__item-number {
      @include fs-26;
    }
  }
}

@media (max-width: 991px) {
  .about {
    &__item-number {
      @include fs-18;
    }
  }
}

@media (max-width: 575px) {
  .about {
    &__item-wrapper {
      padding: 16px;
    }

    &__item-top-text {
      margin-bottom: 8px;
    }

    &__item-bottom-text {
      @include fs-14;
    }
  }
}