.mobile-menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
  }

  &__sublist-wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.4s ease;
    width: 100vw;
    height: 100%;
    padding: 96px 24px 48px 24px;
    background-color: #ffffff;

    &.active {
      transform: translateX(0%);
    }
  }

  &__sublist-header {
    position: relative;
    margin-bottom: 24px;
    padding: 16px 0;

    svg {
      position: relative;
      z-index: 2;
      cursor: pointer;
    }
  }

  &__sublist-title {
    @include fs-18;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &--has-children {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > svg {
        cursor: pointer;
      }

      &:has(svg.active) {


        .mobile-menu__sublist {
          opacity: 0;
          visibility: hidden;
          transition: max-height .6s ease, padding .6s ease, opacity .2s ease;
          max-height: 0;
          padding: 0;
        }
      }
    }
  }

  &__link {
    @include fs-18;
  }

  &__email {
    @include fs-18;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../img/global/email-24-red.svg");
    }
  }

  &__messengers {
    display: flex;
    gap: 24px;
  }

  &__messenger {
    path {
      transition: .6s ease;
    }

    &:hover {
      path {
        &:first-child {
          fill: var(--black);
        }
      }
    }
  }
}