.portfolio {
  &__title {
    margin-bottom: 32px;
  }

  &__link {
    @include fs-16;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 32px auto;
    font-weight: 500;
    color: var(--red);

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../img/global/chevron-right-24-red.svg");
    }

    &:visited {
      color: var(--red);
    }
  }

  &__list {
    display: grid;
    grid-template-areas:
      "item-1 item-1 item-2 item-3"
      "item-1 item-1 item-4 item-5";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 24px;
  }

  &__item {
    &:nth-child(1) {
      grid-area: item-1;

      .portfolio__item-wrapper {
        height: 100%;
      }

      .portfolio__item-content {
        transform: translateY(calc(100% - 114px));
      }

      .portfolio__item-link {
        opacity: 1;
        visibility: visible;
        max-height: 100%;
        padding-top: 16px;
      }
    }

    &:nth-child(2) {
      grid-area: item-2;
    }

    &:nth-child(3) {
      grid-area: item-3;
    }

    &:nth-child(4) {
      grid-area: item-4;
    }

    &:nth-child(5) {
      grid-area: item-5;
    }
  }

  &__item-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    height: 237px;

    &:hover {
      .portfolio__item-content {
        justify-content: flex-end;
        transform: translateY(0);
      }

      .portfolio__item-link {
        opacity: 1;
        visibility: visible;
        max-height: 100%;
        padding-top: 16px;
      }
    }
  }

  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(calc(100% - 100px));
    transition: .5s ease;
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: rgba(33, 33, 33, .6);
  }

  &__item-title {
    font-weight: 600;
    color: var(--white);
  }

  &__item-link {
    @include fs-16;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease;
    max-height: 0;
    font-weight: 500;
    color: var(--white);

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../img/global/chevron-right-24-white.svg") center/contain no-repeat;
    }
  }
}

@media (max-width: 1399px) {
  .portfolio {
    &__item {
      &:nth-child(1) {
        .portfolio__item-content {
          padding: 24px;
        }
      }
    }

    &__item-content {
      padding: 24px 16px;
    }
  }
}

@media (max-width: 1199px) {
  .portfolio {
    &__item-content {
      transform: translateY(calc(100% - 110px));
      padding: 16px;
    }
  }
}

@media (max-width: 991px) {
  .portfolio {
    &__list {
      grid-template-areas:
      "item-1 item-1"
      "item-2 item-3"
      "item-4 item-5";

      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      &:nth-child(1) {
        .portfolio__item-wrapper {
          height: 350px;
        }
      }
    }

    &__item-content {
      transform: translateY(calc(100% - 100px));
      padding: 24px;
    }
  }
}

@media (max-width: 767px) {
  .portfolio {
    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      &:nth-child(1) {
        .portfolio__item-wrapper {
          height: 270px;
        }
      }
    }

    &__item-wrapper {
      height: 270px;
    }

    &__item-content {
      transform: translateY(calc(100% - 114px));
    }

    &__item-link {
      opacity: 1;
      visibility: visible;
      max-height: 100%;
      padding-top: 16px;
    }
  }
}

@media (max-width: 575px) {
  .portfolio {
    &__title {
      margin-bottom: 24px;
    }

    &__item {
      &:nth-child(1) {
        .portfolio {
          &__item-wrapper {
            height: 240px;
          }

          &__item-content {
            transform: translateY(calc(100% - 96px));
            padding: 16px;
          }

          &__item-link {
            padding-top: 8px;
          }
        }
      }
    }

    &__item-wrapper {
      height: 240px;
    }

    &__item-content {
      transform: translateY(calc(100% - 96px));
      padding: 16px;
    }

    &__item-link {
      @include fs-12;
      padding-top: 8px;

      &::after {
        width: 16px;
        height: 16px;
      }
    }
  }
}