.service-description {
  padding-top: 48px;

  &--services-cat {
    padding-top: 0;
  }

  &__text {
    @include fs-16;

    p {
      margin-bottom: 32px;
    }

    li {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 575px) {
  .service-description {
    &__text {
      @include fs-14;

      p {
        margin-bottom: 16px;
      }
    }
  }
}