.services-block {
  &__title {
    margin-bottom: 32px;
  }

  &__item {
    position: relative;
    z-index: 1;

    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }
  }

  &__item-wrapper {
    position: relative;
    display: flex;
    height: 232px;
  }

  &__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 16px;
    transition: max-height 1s ease;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 232px;
    background-color: var(--white);

    &:hover {
      max-height: 2000px;

      .services-block__item-list {
        overflow: visible;
        max-height: 10000px;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  &__item-title {
    @include fs-20;
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--black);
  }

  &__item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: hidden;
    transition: max-height .9s ease;
    max-height: 88px;
    padding: 0;
    list-style: none;
  }

  &__item-subitem {
    @include fs-16;
    position: relative;
    padding-left: 12px;
    color: var(--grey);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: var(--grey);
    }

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(11),
    &:nth-child(14),
    &:nth-child(17),
    &:nth-child(19),
    &:nth-child(22),
    &:nth-child(25),
    &:nth-child(27) {
      padding-left: 0;

      &::before {
        content: none;
      }
    }
  }

  &__item-link {
    @include fs-16;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-top: auto;
    font-weight: 500;
    color: var(--grey);

    &::after {
      content: "";
      width: 30px;
      height: 30px;
      background: url("../img/global/chevron-right-30-grey.svg");
    }
  }

  &__item-img {
    margin: auto 0 0 auto;
  }
}