.service-category-list {
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    width: 100%;

    &:hover {
      box-shadow: none;
      background-color: var(--light-gray);
    }
  }

  &__item {
    display: flex;

    &.hidden {
      display: none;
    }
  }

  &__item-img {
    width: 100%;
    height: 161px;
    object-fit: cover;
  }

  &__item-title {
    @include fs-20;
    flex: 1;
    padding: 24px;
    font-weight: 500;
  }

  &__btn {
    &::after {
      content: "";
      transition: .4s ease;
      margin-left: 8px;
      width: 24px;
      height: 24px;
      background: url("../img/global/refresh-24-red.svg");
    }

    &:hover {
      &::after {
        background: url("../img/global/refresh-24-white.svg");
      }
    }
  }
}

@media (max-width: 575px) {
  .service-category-list {
    &__item-img {
      height: 110px;
    }

    &__item-title {
      @include fs-16;
      padding: 16px;
    }
  }
}