:root {
  color-scheme: light only;
}

body {
  @include fs-18;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black);
}

a {
  transition: .4s ease;
  text-decoration: none;
  color: var(--black);

  &:visited {
    color: var(--black);
  }

  &:hover {
    color: var(--red);
  }

  &:active {
    color: var(--red);
  }
}

h1,
h2,
h3,
.main-title,
.section-title {
  margin: 0 0 24px;
  font-weight: 700;
}

h1,
.main-title {
  @include fs-58;
  font-weight: 500;
}

h2,
.section-title {
  @include fs-48;
  font-weight: 500;
}

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
  border: 1px solid var(--red);
  min-width: 196px;
  padding: 14px 23px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: var(--red);

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

input {
  @include fs-16;
  border: 1px solid var(--grey);
  width: 100%;
  padding: 13px 23px;
  color: var(--black);

  &:focus {
    border-color: var(--black);
    color: var(--black);
  }

  &:focus-visible {
    outline: none;
  }

  &:invalid {
    border-color: #ff4949;
    color: #ff4949;
  }

  &::placeholder {
    color: var(--grey);
  }
}

p {
  margin-bottom: 8px;
}

@media (max-width: 1399px) {
  h1,
  .main-title {
    @include fs-48;
  }

  h2,
  .section-title {
    @include fs-36;
  }
}

@media (max-width: 1199px) {
  h1,
  .main-title {
    @include fs-38;
  }

  h2,
  .section-title {
    @include fs-28;
  }
}

@media (max-width: 991px) {
  h1,
  .main-title {
    @include fs-28;
  }

  h2,
  .section-title {
    @include fs-20;
  }
}

@media (max-width: 767px) {
  h1,
  h2,
  h3,
  .main-title,
  .section-title {
    margin: 0 0 16px;
  }
}

@media (max-width: 575px) {
  body {
    @include fs-14;
  }

  h1,
  h2,
  h3,
  .main-title,
  .section-title {
    margin: 0 0 8px;
  }

  h1,
  .main-title {
    @include fs-26;
  }

  button,
  .button {
    min-width: 100%;
  }
}