.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pt-96 {
  padding-top: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

@media (max-width: 767px) {
  .ptb-96 {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .pt-96 {
    padding-top: 48px;
  }

  .pb-96 {
    padding-bottom: 48px;
  }
}